In [5]:
# NUMBER 10

a = 12
b = 5

print("a//b  :", a//b)
print("b//a  :",b//a)
print("a/b  :",a/b)
print("b/a  :",b/a)
print("a%b  :",a%b)
print("b%a  :",b%a)
print("a,b  :",a,b)

# assignment expression (Python 3.8)
print("a:=b :",a := b)
print("a,b  :",a,b)

a//b  : 2
b//a  : 0
a/b  : 2.4
b/a  : 0.4166666666666667
a%b  : 2
b%a  : 5
a,b  : 12 5
a:=b : 5
a,b  : 5 5

NUMBER 11

What are the five logical units of a computer?
1. CPU
2. Input Unit
3. Outout Unit
4. Primary Storage Unit (Memory Unit): such as RAM
5. Secondary Storage Unit: such as hard-disk

In [ ]:
# NUMBER 12

# TODO: Convert the given numbers to the indicated bases (radices):

In [7]:
# NUMBER 13

print("value of -3 > 2 > 0 is", -3 > 2 > 0)
print("value of 5 != 7 is", 5 != 7)
print("value of -3/4 is", -3/4)
print("value of -3//4 is", -3//4)
print("value of -3//4.0 is", -3//4.0)
print("value of 3%4 is", 3%4.0)
print("value of -3%4 is", -3%4.0)
print("value of bool(25) is", bool(25))
print("value of round(4.5) is", round(4.5))
print("value of round(5.5) is", round(5.5))

value of -3 > 2 > 0 is False
value of 5 != 7 is True
value of -3/4 is -0.75
value of -3//4 is -1
value of -3//4.0 is -1.0
value of 3%4 is 3.0
value of -3%4 is 1.0
value of bool(25) is True
value of round(4.5) is 4
value of round(5.5) is 6

In [8]:
# NUMBER 14

num = 1
while num <= 130:
    num = num * 2
print(num)

"""
It keeps multiply the value of num with 2 until it not more than 130. Starting from 1.
"""

256

In [10]:
# NUMBER 15

num = 100
while num >= 0:
    if num == 0:
        print(num, end="")
    else:
        print(num, end=", ")
    num -= 4

100, 96, 92, 88, 84, 80, 76, 72, 68, 64, 60, 56, 52, 48, 44, 40, 36, 32, 28, 24, 20, 16, 12, 8, 4, 0

In [12]:
# NUMBER 16

x = 123412980673

x = x % 10
print(x)

3

In [14]:
# NUMBER 17

x = 10
y = 9
z = 12

if x<y and x<z:
    mini = x
elif y<x and y<z:
    mini = y
elif z<x and z<y:
    mini = z 

print(f"The smallest between {x}, {y}, {z}, is {mini}")

The smallest between 10, 9, 12, is 9

In [16]:
# NUMBER 18

# For Loop
print("{0:>5s} {1:>10s}".format("N", "N**3"))
print(f"===== ==========")
for i in range(1,11):
    print(f"{i:>5d} {i**3:>10d}")
print()

# While Loop
print("{0:>5s} {1:>10s}".format("N", "N**3"))
print(f"===== ==========")
i = 1
while i <= 10:
    print("{0:>5d} {1:>10d}".format(i, i**3))
    i += 1

    N       N**3
===== ==========
    1          1
    2          8
    3         27
    4         64
    5        125
    6        216
    7        343
    8        512
    9        729
   10       1000

    N       N**3
===== ==========
    1          1
    2          8
    3         27
    4         64
    5        125
    6        216
    7        343
    8        512
    9        729
   10       1000

In [ ]:
# NUMBER 19

In [18]:
# NUMBER 20

x = 3
n = 1
res = 0
while n <= x:
	res += x
	n += 1
	
print(res)

9

In [21]:
# NUMBER 21

x = -3
if x < 0:
    x = -x
res = 0
for i in range(x):
	res += x
        
print(res)

9

In [26]:
# NUMBER 22

largeNum = float('-inf')
for i in range (20):
	inputNum = int(input("Enter integer: "))
	if inputNum%2 == 0 and inputNum>largeNum:
	    largeNum = inputNum
if largeNum == None:
    print("No even number was entered")
else:
    print(largeNum)

54

In [38]:
# NUMBER 23

print("2 + 2 < 4 is", 2 + 2 < 4)
x = 3**2 + 4**2
print("3^2 +  4^2 = 25 is", x == 25)
x = 1387%19
print("1387%19 = 0 is", x == 0)
print(""""great" < "good" is""", "great" < "good")

2 + 2 < 4 is False
3^2 +  4^2 = 25 is True
1387%19 = 0 is True
"great" < "good" is False

NUMBER 24

(a) 7 + True --> int

(b) 2 * 3**2.0 --> float

(c) 4 // 2 + 4 % 2 --> int

(d) 2 + 3 == 4 or 5 >= 5 --> bool

(e) 5*"ho" --> string

In [41]:
# NUMEBR 25

print("One number is {}; the other is {}.".format(4,3.5))

month = "June"
day = 5
year = 2021
print(f"The date is {month} {day}th, {year+1}.")

print("The interest rate \nis {:.2%} for you.".format(1/40))

print("{1:>9s}: {0:<6.1f} cm.".format(23.875,"Length"))

sentence = "I learn Python."
print(sentence[::-1])
print(sentence[8:-1])
print(len(sentence))

One number is 4; the other is 3.5.
The date is June 5th, 2022.
The interest rate
is 2.50% for you.
   Length: 23.9   cm.
.nohtyP nrael I
Python
15

In [47]:
# NUMBER 26

def vowels (vow):
    res = ""
    for i in vow:
        if i in "aiueoAIUEO":
            res = res + i
    return res

print(vowels("test case BRO!"))
print(vowels("brrsh"))
print(vowels("oui"))

eaeO

oui

NUMBER 27

(a) this function return the calculation of x cubic

(b) this program accepts integer as argument, assume that y is variable with type integer. Then, the program assign variable asnwer to multiplying the variable with itself three times. This also means, that the program calculating as y3.

(c)answer = 4, is global variable, whereas answer in function is local variable, it’s only works inside the function.

In [48]:
# NUMBER 28

def div3 (n):
	return n%3==0

In [49]:
# NUMBER 29

def lsdd (n):
	n = n%10
	return n

In [55]:
# NUMBER 30

def sumSquare (n):
	res = 0
	i = 0
	while i <= n:
		res += i**2
		i += 1
	return res

In [65]:
# NUMBER 31

outFile = open("ws01_2022.txt",'w')

print(23, file=outFile)
print(117, file=outFile)
print(-15, file=outFile)

outFile.close()

inFile = open("ws01_2022.txt",'r')

var = 0
for line in inFile:
    var = var + int(line.strip())
inFile.close()

print(var)

125

In [66]:
# NUMBER 32

def main():
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    n = int(input("Enter a month number(1-12): "))
    print(f"The month abbreviation is {months[n-1]}.")
if __name__ == "__main__":
    main()

The month abbreviation is Mar.

In [67]:
# NUMBER 33

lst = ['satu', '\x64\x75\x61', 'tiga', 'empat']
lst2 = [ kata[::-2] for kata in lst ]
print( lst2 )
print( lst[1][:1] )

list1 = [30,20,10,0,[41,42]]
list2 = list1
list3 = list2[:]
list1[0] = 1
list2[1] = 2
list3[2] = 3
list3[-1][1] = 5
print("list2:", list2)
print("list3:", list3)

['ua', 'ad', 'ai', 'tpe']
d
list2: [1, 2, 10, 0, [41, 5]]
list3: [30, 20, 3, 0, [41, 5]]

In [70]:
# NUMBER 34

def syr(x):
    lst = [x]
    while x>1:
        if x%2 == 0:
            x = x//2
            lst.append(x)
        elif x%2 != 0:
            x = 3*x+1
            lst.append(x)
            return lst

In [72]:
# NUMBER 35

even_cubes = [x**3 for x in range (50) if x%2==0]

In [71]:
# NUMBER 36

def sumDigit (n):
	temp =str(n)
	res = 0
	for i in temp:
		res += int(i)
	return res

In [75]:
# NUMBER 37

def wordLengths (lst):	
	new_lst = []
	visited = []
	for word in lst:
		if word in visited:
			continue
		else:
			length = len(word)
			visited.append(word)
			new_lst.append([word,length])
	return new_lst

In [76]:
# NUMBER 38

res = [2*i if i%2==0 else 5*i for i in range(1,11)]
print(res)

[5, 4, 15, 8, 25, 12, 35, 16, 45, 20]

In [77]:
# NUMBER 39

L=[5,-8,3,7,15,-9,4,2]
L = sorted(L, key=abs, reverse=True)

print(L)

[15, -9, -8, 7, 5, 4, 3, 2]